<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.androi d.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HostelHub"
        tools:targetApi="31">
        <activity android:name=".Attendance.MainActivity3"
            android:exported="false"/>
        <activity
            android:name=".Attendance.MainActivity_2"
            android:exported="false" />
        <activity
            android:name=".student.NoticeView"
            android:exported="false" />
        <activity
            android:name=".NoticeScreen.dialog_update_notice"
            android:exported="false" />
        <activity
            android:name=".NoticeScreen.Notice_items"
            android:exported="false" />
        <activity
            android:name=".NoticeScreen.AddNotice"
            android:exported="false" />
        <activity
            android:name=".NoticeScreen.AllNotice"
            android:exported="false" />
        <activity
            android:name=".warden.CheckStudentDetails"
            android:exported="false" />
        <activity
            android:name=".item_image_pager"
            android:exported="false" />
        <activity
            android:name=".warden.WardenLogin"
            android:exported="false" />
        <activity
            android:name=".warden.WardenDashboard"
            android:exported="false" />
        <activity
            android:name=".student.StudentsSelectedDetails"
            android:exported="false" />
        <activity
            android:name=".student.StudentRegister"
            android:exported="false" />
        <activity
            android:name=".student.StudentLogin"
            android:exported="false" />
        <activity
            android:name=".student.StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".GlobalLogin"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>